#page-home {
  h1 {
    font-family: Orbitron;
    font-weight: bold;
    font-size: 73px;
    line-height: 1;
  }
  h2 {
  }
  h3 {
    font-family: Orbitron, Orbitron;
    font-weight: bold;
    font-size: 31px;
    line-height: 1;
  }
}
