#page-home {
  h1,
  h3 {
    font-family: Orbitron;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  h1 {
    font-size: 73px;
  }
  h3 {
    font-size: 31px;
  }
}

// mobile
@media (max-width: 1280px) {
  #page-home {
    h1 {
      font-size: 27px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
