@keyframes marquee {
    0% {
        transform: translate3d(-25%, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.mp-marquee {
    position: relative;
    overflow: hidden;
    // mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);

    .marquee {
        width: fit-content;
        display: flex;
        position: relative;
        transform: translate3d(-25%, 0, 0);
        animation: marquee 16s linear infinite running;

        span {
            font-size: 47px;
            font-weight: 900;
            padding: 0 21px;
            white-space: nowrap;
        }
    }

    &:hover {
        .marquee {
            animation-play-state: paused;
        }
    }
}

.home-box1 {
    width: 100%;
    min-height: 1445px;
    background-image: url("/img/home/background.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    > main {
        margin: 0 auto;
        max-width: 1920px;
        padding: 0 271px 0 253px;

        > header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 54px;
            .logo {
                width: 311px;
                height: 80px;
            }
            .btn-box {
                display: flex;
                align-items: center;
                gap: 14px;
                .profile {
                    min-width: 133px;
                }
            }

            // 按钮样式
            .MuiButton-root {
                font-size: 21px;
                height: 42px;
                border-radius: 8px;
            }
        }
        h1 {
            margin-top: 129px;
        }
        h3 {
            margin-top: 35px;
        }
        form {
            margin-top: 87px;
            max-width: 487px;

            .item {
                font-size: 21px;
                line-height: 30px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 87px;
                border-bottom: 1px solid #d307eb;

                .right {
                    text-align: right;
                }
            }

            .number-box {
                margin-top: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                .btn {
                    user-select: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    background: linear-gradient(135deg, #d307eb, #2301db);

                    font-family: Avanti;
                    letter-spacing: 0;
                    font-weight: 400;
                    font-size: 25px;
                }
                input.number {
                    width: 141px;
                    height: 45px;
                    background: transparent;
                    border: 1px solid #ffffff;
                    outline: 0;
                    text-align: center;

                    font-family: Avanti;
                    letter-spacing: 0;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 26px;
                }
            }
            .tip {
                margin-top: 34px;
                text-align: center;

                font-size: 21px;
                line-height: 30px;
            }
            .mint {
                font-size: 35px;
                margin-top: 34px;
                width: 100%;
                height: 68px;
            }
        }
    }
    > footer {
        margin-top: 85px;
        position: relative;
        display: flex;
        justify-content: center;
        .rect {
            width: 100%;
            height: 89px;
            background: linear-gradient(90deg, #d307eb, #2301db);
            opacity: 0.49;
        }
        .rect-oblique {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: calc(50% - 55%);
            width: 110%;
            height: 79px;
            background: linear-gradient(90deg, #d307eb, #2301db);
            transform: rotate(352.5deg);
            font-family: Orbitron;
            font-weight: bold;
        }
    }
}

#connect-wallet {
    margin-top: 9px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.66);
    .wallet {
        width: 100%;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 22px;
        gap: 13px;
        height: 42px;
        img {
            width: 24px;
        }
    }
    .wallet + .wallet {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
}

// mobile
@media (max-width: 1024px) {
    .home-box1 {
        > main {
            padding: 0 18px;

            > header {
                padding-top: 21px;
                .logo {
                    width: 105px;
                    height: 27px;
                }
                .btn-box {
                    gap: 5px;
                    .profile {
                        min-width: 0;
                    }
                }
                // 按钮样式
                .MuiButton-root {
                    font-size: 12px;
                    height: 21px;
                    border-radius: 11px;
                }
            }
            h1 {
                margin-top: 44px;
            }
            h3 {
                margin-top: 20px;
            }
            form {
                margin-top: 40px;
            }
        }
    }
}
